body {
  font-family: sans-serif;
  margin: 0;
}

.small-link {
  text-decoration: underline;
}

label {
  display: block;
}

a {
  color: #0f3057;
}
a:visited {
  color:#0f3057;
  text-decoration: none;
}

a {
  text-decoration: none;
}

form div {
  margin: 0 0.5rem;
}

/* loading component */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  margin: 50px auto;
  padding: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.center {
  display: block;
  margin: 50px auto;
  text-align: center;
}

.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.logo{
 -webkit-text-stroke: 1px #0f3057;
  background-color: aquamarine;
  font-size: 38px;
  line-height: 6vw;
  margin: 5px;
  font-weight: 900;
  background: url(https://www.maptiler.com/img/cloud/map-img.png);
  /* background: url(https://i.pinimg.com/originals/6a/9e/19/6a9e19e90637715a2fd483ee75bdc9d3.gif); */
  background-size: 60%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: #e8b7432e;
  animation: zoomout 10s ease 500ms forwards;
  text-align: left;
  /* text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15); */
}

@keyframes zoomout {
  from {
    background-size: 50%;
  }
  to {
    background-size: 10%;
  }
}

.modal {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.411);
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: #0f3057;
  cursor: pointer;
}

h1, h3, p {
  text-align: center;
}

h3 {
  font-weight: lighter;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.flexFriends {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexNav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}



.flex>button {
  min-width: 150px;
  padding: 5px;
  margin: 10px;
}

.container {
  margin: 50px 30px;
}

select {
  margin: 20px;
  padding: 5px;
}

.bold {
  font-weight: bold;
 
}

.specialButton {
  background-color: pink;
  color: white;
}

.clickToOpen {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#imageUrl {
  justify-content: flex-start;
}

@media screen and (max-width: 600px) {
  #imageUrl {
    justify-content: center;
  }
}